<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Admin</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
		  rel="stylesheet"
		  integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
		  crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-dark bg-dark">
	<div class="container-fluid">
		<div class="col-11 text-left" style="margin-top: 0.2%">
			<ul class="list-inline h5">
				<li class="list-inline-item text-white text-strong navbar-brand"
					th:utext="${authUser.getName()}"></li>
				<li class="list-inline-item text-white navbar-brand">with roles:</li>
				<span th:each="role: ${authUser.getRoles()}">
            <li class="list-inline-item text-white navbar-brand" th:utext="${role.roleName}">
              <strong></strong></li>
            </span>

			</ul>
		</div>
		<div>
			<button form="logout" class="fs-5 pe-4 btn btn-dark text-white-50" type="submit">Logout</button>
			<form id="logout" method="POST" th:action="@{/logout}"></form>
		</div>

	</div>
</nav>

<div class="row">
	<div class="col-2">
		<div class="nav nav-tabs flex-column nav-pills me-3" role=tablist>
			<a class="nav-link active" href="#admin" role="tab" data-toggle="tab">Admin</a>
			<a class="nav-link" href="#user" role="tab" data-toggle="tab">User</a>
		</div>

	</div>
	<div class="tab-content col-10">
		<div role="tabpanel" class="tab-pane active" id="admin">
			<div class="d-flex align-content-center flex-wrap" style="height: 100px">
				<h1 class="display-3">Admin panel</h1>
			</div>
			<ul class="nav nav-tabs" role=tablist>
				<li class="nav-item">
					<a class="nav-link active" href="#userstable" role="tab" data-toggle="tab">Users table</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#newuser" role="tab" data-toggle="tab">New user</a>
				</li>
			</ul>
			<div class="tab-content">
				<div role="tabpanel" class="tab-pane fade show active" id="userstable">
					<div class="align-content-center flex-wrap">
						<table class="table table-striped table-bordered table-hover caption-top">
							<caption><p class="fw-bold">All users</p></caption>
							<thead class="table-dark">
							<tr>
								<th>ID</th>
								<th>Name</th>
								<th>Surname</th>
								<th>Age</th>
								<th>Role</th>
								<th>Edit</th>
								<th>Delete</th>
							</tr>
							</thead>
							<tbody th:each="user: ${users}">
							<td th:utext="${user.getId()}"></td>
							<td th:utext="${user.getName()}">Name</td>
							<td th:utext="${user.getSurname()}">Surname</td>
							<td th:utext="${user.getAge()}">Age</td>

							<td>
								<div th:each="role : ${user.getRoles()}">
									<div th:text="${role.getAuthority()}">user</div>
								</div>
							</td>
							<td>
								<button class="btn btn-info" data-toggle="modal" th:data-target="${'#editModal'+ user.getId()}">
									Edit
								</button>
							</td>
							<td>
								<button class="btn btn-danger" data-toggle="modal" th:data-target="${'#deleteModal'+ user.getId()}">
									Delete
								</button>
							</td>
							<div id="editModal" class="modal fade" th:id="${'editModal'+ user.getId()}">
								<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-header">
											<h1 class="modal-title fs-5" id="editLabel">Edit user</h1>
											<button type="button" class="btn-close"
													data-dismiss="modal" aria-label="Close"></button>
										</div>
										<div class="modal-body">
											<form id="formEditUser" th:method="PATCH" th:action="@{/admin/{id}(id=${user.getId()})}"
												  th:object="${user}" >
												<div class="mb-3">
													<label for="idEdit" class="col-form-label">ID</label>
													<input type="text" name = "id"
														   class="form-control" id="idEdit"
														   th:value="${user.getId()}"
														   readonly/>
												</div>
												<div class="mb-3">
													<label for="nameEdit" class="col-form-label">Name</label>
													<input type="text" name = "name"
														   class="form-control"  id="nameEdit"
														   th:value="${user.getName()}"/>
												</div>
												<div class="mb-3">
													<label for="SurnameEdit" class="col-form-label">Surname</label>
													<input type="text" name = "surname"
														   class="form-control" id="SurnameEdit"
														   th:value="${user.getSurname()}">
												</div>
												<div class="mb-3">
													<label for="ageEdit" class="col-form-label">Age</label>
													<input type="number" name = "age"
														   class="form-control" id="ageEdit"
														   th:value="${user.getAge()}"/>
												</div>

												<div class="mb-3">
													<label for="passEdit" class="col-form-label">Password</label>
													<input type="password" name = "password"
														   class="form-control" id="passEdit"
														   th:value="${user.getPassword()}" />
												</div>
												<label for="roles"><b>Role</b></label>
												<select multiple class="form-control"
														id="roles" name="roles"
														th:size="${roles.size()}"
														required>
													<option th:each="role:${roles}"
															th:value="${role.id}"
															th:selected="${user.getRoles().contains(role)}">
														<th:block th:text="${role.toString()}">
														</th:block>
													</option>
												</select>
												<div class="modal-footer">
													<button type="button" class="btn btn-secondary" data-dismiss="modal" aria-label="Close">Close</button>
													<button type="submit" class="btn btn-primary">Edit</button>
												</div>
											</form>
										</div>

									</div>
								</div>
							</div>


							<div th:id="${'deleteModal'+ user.getId()}" class="modal fade">
								<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-header">
											<h1 class="modal-title fs-5" id="deleteLabel">Delete user</h1>
											<button type="button" class="btn-close"
													data-dismiss="modal" aria-label="Close"></button>
										</div>
										<div class="modal-body">
											<form id="formDeleteUser" th:method="DELETE" th:action="@{/admin/{id}(id=${user.getId()})}">
												<div class="mb-3">
													<label for="idDelete" class="col-form-label">ID</label>
													<input type="text" name = "id"
														   class="form-control" id="idDelete" th:value="${user.getId()}" readonly/>
												</div>
												<div class="mb-3">
													<label for="nameDelete" class="col-form-label">Name</label>
													<input type="text" name = "name"
														   class="form-control" id="nameDelete" th:value="${user.getName()}" readonly/>
												</div>
												<div class="mb-3">
													<label for="SurnameDelete" class="col-form-label">Surname</label>
													<input type="text" name = "Surname"
														   class="form-control" id="SurnameDelete" th:value="${user.getSurname()}" readonly>
												</div>
												<div class="mb-3">
													<label for="ageDelete" class="col-form-label">Age</label>
													<input type="number" name = "age"
														   class="form-control" id="ageDelete" th:value="${user.getAge()}" readonly/>
												</div>

												<div class="mb-3">
													<label for="passDelete" class="col-form-label">Password</label>
													<input type="password" name = "password"
														   class="form-control" id="passDelete"
														   required minlength="2" maxlength="20" th:value="${user.getPassword()}" readonly/>
												</div>
												<div>Roles</div>
												<div th:each="role : ${user.getRoles()}">
													<div th:text="${role.getAuthority()}">user</div>
												</div>
												<div class="modal-footer">
													<button type="button" class="btn btn-secondary" data-dismiss="modal" aria-label="Close">Close</button>
													<button type="submit" class="btn btn-danger" >Delete</button>
												</div>
											</form>
										</div>

									</div>
								</div>
							</div>
							</tbody>
						</table>
					</div>

				</div>
				<div role="tabpanel" class="tab-pane fade" id="newuser">
					<div class="row">
						<div class="col-md-6 offset-md-3">
							<div class="card">
								<div clinstass="card-header">
									<h2 class="text-center">Add new user</h2>
								</div>
								<div class="card-body text-center">

									<form id="formNewUser" th:method="POST" th:action="@{/admin}" th:object="${newUser}">
										<div class="mb-3">
											<label for="idNew" class="col-form-label">ID</label>
											<input type="text"
												   class="form-control" id="idNew" readonly/>
										</div>
										<div class="mb-3">
											<label for="nameNew" class="col-form-label">Name</label>
											<input type="text" name = "name"
												   class="form-control" id="nameNew"
												   required minlength="2" maxlength="20" th:field="*{name}"/>
										</div>
										<div class="mb-3">
											<label for="surnameNew" class="col-form-label">Surname</label>
											<input type="text" name = "surname"
												   class="form-control" id="surnameNew"
												   required minlength="2" maxlength="20" th:field="*{surname}"/>
										</div>
										<div class="mb-3">
											<label for="ageNew" class="col-form-label">Age</label>
											<input type="number" name = "age"
												   class="form-control" id="ageNew" th:field="*{age}"/>
										</div>

										<div class="mb-3">
											<label for="passNew" class="col-form-label">Password</label>
											<input type="password" name = "password"
												   class="form-control" id="passNew"
												   required minlength="2" maxlength="20" th:field="*{password}"/>
										</div>
										<div class="form-group">
											<label class="font-weight-bold" for="rolesNew">Role</label>
											<select class="custom-select form-control" id="rolesNew"
													name="roles"
													multiple
													size="2">
												<option th:each="role : ${roles}"
														th:value="${role.id}"
														th:text="${role.roleName}"
														th:field="*{roles}"></option>
											</select>
										</div>
										<div class="d-grid col-6 mx-auto">
											<input type="submit" class="btn btn-success" value="Add new user"/>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>

			</div>

		</div>

	</div>

	<div role="tabpanel" class="tab-pane " id="user">
		<div class="d-flex align-content-center flex-wrap" style="height: 100px">
			<h1 class="display-3">User information-page</h1>
		</div>
		<table class="table table-striped table-bordered table-hover caption-top">
			<caption><p class="fw-bold">About user</p></caption>
			<thead class="table-dark">
			<tr>
				<th>ID</th>
				<th>Name</th>
				<th>Surname</th>
				<th>Age</th>
				<th>Roles</th>
			</tr>
			</thead>
			<tbody>
			<td th:utext="${authUser.getId()}">Id</td>
			<td th:utext="${authUser.getName()}">Name</td>
			<td th:utext="${authUser.getSurname()}">Surname</td>
			<td th:utext="${authUser.getAge()}">Age</td>
			<td>
				<div th:each="role : ${authUser.getRoles()}">
					<div th:text="${role.getAuthority()}">user</div>
				</div>
			</td>
			</tbody>
		</table>

	</div>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>